header {
    background: #000062;

    .top-nav {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
        letter-spacing: 1.5px;

        .logo{
            width: 25%;
            margin-rigth:38px;
        }

        ul {
            display: flex;
            text-transform: uppercase;
            padding-top: 8px;
            font-weight: 400;
            align-items: start;

            li {
                margin-right: 38px;

                &:last-child {
                    margin-right: 0;
                }
            }

            a {
                color: $white;

                &:hover {
                    color: darken($white, 10%);
                }
            }

            .cart-count {
                display: inline-block;
                // position: absolute;
                // right: 0;
                // top: -22px;
                // right: -24px;
                background: $cart-count;
                color: $text-color;
                line-height: 0;
                border-radius: 50%;
                font-size: 14px;

                span {
                    display: inline-block;
                    padding-top: 50%;
                    padding-bottom: 50%;
                    margin-left: 6px;
                    margin-right: 6px;
                }
            }

        }
    }

    .top-nav-left {
        display: flex;

    }

    .top-nav-rigth {
        display: flex;
        //align-items: center;
    }
}

header.with-background {
    /*background: url('/img/triangles.png');*/
    background-size: cover;
    color: $white;

    .top-nav {
        display: flex;
        justify-content: space-between;
        padding: 40px 0;
        letter-spacing: 1.5px;

        .logo {
            font-weight: bold;
            font-size: 28px;
        }

        ul {
            /*display: flex;
            text-transform: uppercase;
            justify-content: space-between;
            width: 40%;*/

            a {
                color: $white;

                &:hover {
                    color: darken($white, 10%);
                }
            }

        }
    }

    .hero {
        display: block;
        background: url('/img/bodypaint-bg2.jpg') no-repeat center center/cover;
        height: 700px;
        overflow: hidden;

        .hero-text {
            text-align: center;
            margin: 170px;

            h1 {
                font-size: 52px;
                line-height: 1.2em;
                padding-bottom: 30px;
            }

            p {
                font-size: 40px;
                padding-bottom: 70px;
                line-height: 1.5em;
            }
        }


        .button {
            margin-right: 14px;
        }
    }
}


