<template>
  <div>
    <div class="product-section-image">
      <img :src="urlImagenMostrada" alt="producto">
    </div>
    <div class="product-section-images">
      <div class="product-section-thumbnail"
           :class="{selected: productoElejidoActual == -1 }">
        <img :src="imgUrlPrefix + producto.image"
             @click="mostrarImagen(-1)" alt="producto">
        <!--las imagenes en array_images tienes indices del 0 en adelante la imagen principal tiene un indice de '-1'  -->
      </div>

      <div class="product-section-thumbnail"
           v-for="(imge, index) in array_images"
           :class="{selected: index === productoElejidoActual }"
           @click="mostrarImagen(index)">
        <img :src=" imgUrlPrefix + imge"
             alt="producto">
      </div>
    </div>
  </div>
</template>

<script>
export default {

  name: "QuimpecProducto",
  data() {
    return {
      imgUrlPrefix: '/storage/',
      array_images: Array,
      urlImagenMostrada: String,
      productoElejidoActual: {
        type: Number
      }
    }
  },
  props: {
    producto: Object,
  },
  computed: {
    imagenMostrada: function () {
      return this.imgUrlPrefix + this.producto.image;
    }
  },
  mounted: function () {
    this.array_images = JSON.parse(this.producto.images);
    this.urlImagenMostrada = this.imagenMostrada;
    this.productoElejidoActual = -1;

    console.log( this.producto)
  },
  methods: {
    mostrarImagen(i) {
      if (i >= 0) {
        this.urlImagenMostrada = this.imgUrlPrefix + this.array_images[i];
        this.productoElejidoActual = i;
      } else if (i < 0) {
        this.urlImagenMostrada = this.imgUrlPrefix + this.producto.image;
        this.productoElejidoActual = i;
      }
    }
  }

}
</script>

<style scoped>

</style>
